/* CardItem.css */

.cards {
  padding: 4rem;
  background: #fff;
}

.cards2 {
  padding: 0 4rem 4rem 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 2rem; /* Space between the cards */
  width: 100%;
}

.cards__items {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 2rem;
  width: 100%;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
  max-width: 300px; /* Max-width of the cards */
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  overflow: hidden;
  margin: 1rem; /* Margin for spacing */
}

.cards__item__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #e50f85;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
  text-align: center;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.cards__item__price {
  color: #252e48;
  font-size: 16px;
  margin-top: 10px;
}

.cards__item__btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e50f85;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.cards__item__btn:hover {
  background-color: #c00f75;
}
